/* Stili moderni e accattivanti */
body {
    font-family: 'Roboto', sans-serif; /* Font moderno */
    margin: 0;
}

header {
    background-color: #212121; /* Sfondo scuro */
    color: #fff;
    padding: 1em 0;
}

#hero {
    background-image: url('assets/vaporwave_vr_background.png'); /* Immagine di sfondo VR */
    background-size: cover;
    color: #fff;
    padding: 5em 0;
    text-align: center;
}

/* Altri stili per sezioni, galleria, form, ecc. */

.gallery img {
    width: 250px; /* Regola questa misura in base alle tue necessità */
    height: auto;
    margin: 10px;
}
